<header class="header">
  <div class="container">
    <nav class="nav">
      <a routerLink="/" class="logo">Kamleshkumar Tiwari</a>

      <!-- Hamburger toggle -->
      <div class="hamburger" (click)="toggleMenu()">
        &#9776;
      </div>

      <!-- Dynamic Nav List -->
      <ul class="nav-items" [ngClass]="{ 'show': isMenuOpen }">
        <li class="nav-item" *ngFor="let item of navItems">
          <a routerLink="{{ item.link }}" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
