<header class="header">
  <div class="container">
    <nav class="nav">
      <a routerLink="/" class="logo">Kamleshkumar Tiwari</a>

      <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle navigation">
        &#9776;
      </button>

      <ul class="nav-items" [ngClass]="{ 'show': isMenuOpen }">
        <li class="nav-item" *ngFor="let item of navItems">
          <a 
            routerLink="{{ item.link }}" 
            class="nav-link" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }">
            {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
