<section class="hero">
  <div class="hero-overlay"></div>
  <div class="container">
    <div class="hero-content">
      <div class="hero-text">
        
        <p class="lead">{{ heroSubtitle }}</p>
        <p>{{ heroDescription }}</p>
        <div class="hero-actions">
          <button class="btn btn-primary" (click)="viewProjects()">Explore My Work</button>
          <button class="btn btn-primary" (click)="viewExperience()">Work Experience</button>
          <button class="btn btn-secondary" (click)="downloadResume()">Get My Resume</button>
        </div>
      </div>
      <div class="hero-image">
        <img src="assets/passport-image.jpg" alt="Your Passport Image">
      </div>
      <div class="hero-contact">
        <p>Name: {{ heroTitle }}</p>
        <p>Email: {{ email }}</p>
        <p>Phone: {{ phoneNumber }}</p>
        <p>Location: {{ Location }}</p>
      </div>
    </div>
  </div>
</section>