/* certifications.component.css */
.certifications {
  padding: 80px 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certifications h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #263238;
  margin-bottom: 50px;
}

.certifications .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.certifications .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  max-width: 750px;
  margin: 20px;
  width: 100%;
}

.certifications .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.certifications .card img {
  height: 150px;
  width: 100px;
  object-fit: contain;
  padding: 20px;
}

.certifications .card-body {
  padding: 30px;
}

.certifications .card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #263238;
  margin-bottom: 10px;
}

.certifications .card-text {
  font-size: 1rem;
  color: #546e7a;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .certifications h2 {
    font-size: 2.5rem;
  }
}