/* contact.component.css */
.contact form {
    max-width: 500px;
    margin: 0 auto;
    
  }
  h2{
    margin-top: 199px;
  }
  .contact .form-label {
    font-weight: bold;
    color: #444;
    
  }
  
  .contact .form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .contact textarea.form-control {
    resize: vertical;
  }